<div class="container-fluid">

  <div class="row bg-light">

    <div class="col-md-12">
      <h1 class="text-center text-info pb-5">Delayed Input Demo</h1>
    </div>

    <div class="col-md-6">

      <div class="row">
        <div class="col-md-2 offset-md-5">
          <div class="form-group row">
            <label for="due-time" class="mb-0">Delay time <code>(ms)</code></label>
            <input type="number" placeholder="due time" [(ngModel)]="delayTime" class="form-control form-control-sm" id="due-time">
          </div>
        </div>
      </div>


      <div class="form-group">
        <input type="text"
               placeholder="Search.."
               appDelayedInput
               (delayedInput)="search($event)"
               [delayTime]="delayTime" class="form-control form-control-lg">
      </div>

    </div>

    <div class="col-md-6">
      <h3 class="text-info">Searches</h3>
      <p *ngFor="let item of searches"> {{item}} </p>
    </div>

  </div>

</div>
